body{
    font-family: 'Poppins', sans-serif; 
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
}
section{
    
   
}
.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.orange{
    color: orange;
}
.world{
    padding: 40px;
    width: 40%;
  
}
.img{
    width: 80%;
    padding-left: 70px;

}

.link-button{
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-image:linear-gradient(orange , tomato) ;
    padding: 5px 20px;
    border-radius: 5px;
}

.big-dream{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;

}
.world-2{
    padding-left: 90px;
    width: 40%;
  
}
.img-2{
    width: 80%;
}
.experience{
    display: flex;
}
.developer{
    padding: 20px 40px;
    width: 40%;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    border-image: liniear-gradient(tomato, red);
    border-image-slice: ;
}